<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 pull-left padding-top-5">
                <%= link_to('<i class="fa fa-plus"></i> 新增'.html_safe, "#opt_dialog", "data-toggle" => "modal", onClick: %Q{ modal_dialog_show('<i class="fa fa-plus"></i> 请选择新增采购计划的品目', '#{get_item_category_kobe_shared_index_path(item_id: @item.id, url: "new_kobe_plan_path", model_name: "PlanItem")}', '#opt_dialog') }) if action_name == 'item_list' %>
            </div>
            <div class="col-md-4 pull-right">
                <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
                <div class="margin-bottom-10">
                    <div class="input-group">
                        <%= f.search_field :name_or_sn_cont, class: "form-control input-sm", placeholder: "请输入采购计划的名称或编号..." %>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <%= modal_dialog("opt_dialog") %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="index">序号</th>
                    <% if action_name == "index" %>
                    <th class="hidden-sm">项目名称</th>
                    <th>单位名称</th>
                    <% end %>
                    <th>计划编号</th>
                    <th>计划名称</th>
                    <th>预算总金额</th>
                    <th class="status_badge"><%= status_filter(Plan) %></th>
                    <th class="date"><%= date_filter %></th>
                    <th class="cando">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @plans.each_with_index do |plan,index| %>
                <tr>
                    <td><%= show_index(index) %></td>
                    <% if action_name == "index" %>
                    <td><%= plan.plan_item.name %></td>
                    <td><%= plan.department.present? ? plan.real_department.name : "" %></td>
                    <% end %>
                    <td><%= plan.sn %></td>
                    <td><%= plan.name %></td>
                    <td class="money"><%= money plan.total %></td>
                    <td><%= plan.status_badge %></td>
                    <td><%= show_date(plan.created_at) %></td>
                    <td><%= btn_group(plans_btn(plan,action_name == "list")) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @plans %> 
    </div>                     
</div>