<div class="panel panel-grey margin-bottom-40">
  <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 pull-left padding-top-5">
          <%= link_to('<i class="fa fa-plus"></i> 新增</a>'.html_safe, new_kobe_bid_project_path) unless action_name == 'list' %>
      </div>
      <div class="col-md-4 pull-right">
        <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
            <div class="margin-bottom-10">
              <div class="input-group">
                <%= f.search_field :name_or_code_cont, class: "form-control input-sm", placeholder: "请输入项目编号或项目名称..." %>
                <span class="input-group-btn">
                  <button class="btn btn-success btn-sm" type="submit">搜索</button>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= modal_dialog("opt_dialog") %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="index">序号</th>
            <th class="hidden-sm">项目编号</th>
            <th class="hidden-sm">项目名称</th>
            <th class="hidden-sm">明标/暗标</th>
            <th class="hidden-sm date">截止时间</th>
            <th class="hidden-sm">预算金额</th>
            <th class="hidden-sm">报价人数</th>
            <th class="status_badge"><%= status_filter(BidProject) %></th>
            <th class="cando">操作</th>
          </tr>
        </thead>
        <tbody>
        <% @bid_projects.each_with_index do |bid_project, index| %>
          <tr>
            <td><%= show_index(index) %></td>
            <td><%= bid_project.code %></td>
            <td><%= bid_project.name %></td>
            <td><%= bid_project.dict_value("lod") %></td>
            <td><%= bid_project.end_time %></td>
            <td class="money"><%= money bid_project.budget_money %></td>
            <td><%= bid_project.bid_project_bids.count %></td>
            <td><%= bid_project.can_choose? ? label_tag('截止投标','info rounded-2x') : bid_project.status_badge %></td>
            <td><%= btn_group(bid_projects_btn(bid_project, action_name == 'list')) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @bid_projects %> 
    </div>                     
</div>

