<%= show_tabs_with_name(@bid_project.name, @arr, 'bid_project_tab') %>

<%= render partial: 'bid_list', locals: { act: 'choose' } %>

<%= form_for @bid_project, :url => choose_kobe_bid_project_path(@bid_project), :html => {id: "choose_form"} do |f| %>
  <%= f.hidden_field :bid_project_bid_id %>
  <%= hidden_field_tag :choose_who %>
  <table class="table table-bordered table-hover">
    <tr>
    	<th>操作理由</th>
    	<td><%= f.text_area :reason, class: "form-control" %></td>
    </tr>
  </table> 
<% end -%>

<%= link_to_void "选择中标人", onclick: "choose_who(1);", class: "btn-u btn-u-large" if @bpbs.size >= 3 && @bpbs.first.total <= @bid_project.budget_money %>
<%= link_to_void "选择废标", onclick: "choose_who(2);", class: "btn-u btn-u-large btn-u-red" %>

<script type="text/javascript">
  $(function() {
    var msg = ''
    if(<%= @bpbs.size < 3 %>){
      msg += "投标单位不足三家。";
    }
    if(<%= @bpbs.first.total > @bid_project.budget_money %>){
      msg += "最低报价超出预算。";
    }
    if(!isEmpty(msg)){
      $("input:radio[name='bid_project_bid_radios']").each(function(){
        $(this).attr('checked',false).attr('disabled', 'disabled');
      });
      $("#bid_project_reason").text(msg);
    }
  });
  
  function choose_who(i){
    if(i==1){
      var bid_id = $("input:radio[name='bid_project_bid_radios']:checked").val();
      $("#bid_project_bid_project_bid_id").val(bid_id);
      if (isEmpty(bid_id)){
        art_alert("请选择中标人！");
        return false;
      } 
      if (bid_id != '<%= @bpbs.first.id %>'){
        if(isEmpty($("#bid_project_reason").val())){
          art_alert("请填写操作理由！");
          $("#bid_project_reason").focus();
          return false;
        }
      } 
      $("#choose_who").val("选择中标人"); 
    }else{
      $("#bid_project_bid_project_bid_id").val("");
      if(isEmpty($("#bid_project_reason").val())){
        art_alert("请填写废标操作理由！");
        $("#bid_project_reason").focus();
        return false;
      }
      $("#choose_who").val("选择废标"); 
    }
    // alert("submit");
    $("#choose_form").submit();
  }
</script>                    
