<%= show_tabs(@arr) %>
<div class="panel panel-grey margin-bottom-40">
	<div class="panel-heading">
	   <h3 class="panel-title"><i class="fa fa-tasks"></i> 报价信息</h3>
	</div>

	<table class="table table-bordered table-hover">
	  <thead>
	    <tr>
	    	<th>中标情况</th>
	      <th class="index">序号</th>
	      <th>报价单位</th>
	      <th>联系人</th>
	      <th>联系电话</th>
	      <th>报价总金额</th>
	      <th>报价时间</th>
	      <th>操作</th>
	    </tr>
	   </thead>
	  <tbody>
	  	<% @bpbs.each_with_index do |bid_project_bid, index| %>
	  		<tr>
	  			<td class="tc"><%= label_tag("中标人") if @bid_project.bid_project_bid_id == bid_project_bid.id %></td>
	  			<td><%= index + 1 %></td>
	  			<td><%= bid_project_bid.com_name %></td>
	  			<td><%= bid_project_bid.username %></td>
	  			<td><%= bid_project_bid.lx %></td>
	  			<td><%= money bid_project_bid.total %></td>
	  			<td><%= bid_project_bid.updated_at %></td>
	  			<td><%= link_to_blank "查看报价详情", "" %></td>
	  		</tr>
	  	<% end -%>
	  </tbody>
	</table>
</div>