<div class="content-md margin-bottom-30">
  <div class="container shopping-cart">
    <% if @cart.items.present? %>
      <%= form_tag cart_order_path, id: :cart_order_form do %>
      <%= hidden_field_tag "buy_type", 0 %>
      <div role="application" class="wizard clearfix">
        <%= render "shared/steps" %>
        <div class="content clearfix">
          <section>
            <div class="table-responsive">
              <table class="table table-striped list_table">
                <thead>
                  <tr>
                    <th></th>
                    <th>产品</th>
                    <th width="120px">供应商价格</th>
                    <th width="190px">采购数量</th>
                    <th width="120px">小计</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @cart.items.group_by{|item| item.agent_id}.each do |agent_id, items| -%>
                    <tr class="merchandisetitle <%= 'bg7' if items.all?{|item| item.ready.blank? } %>">
                      <td colspan="6" class="tl b">
                        <%= check_box_tag "all-#{agent_id}", "", items.any?{|item| item.ready.present? }, class: "cart_emall_checkbox", aid: agent_id %>
                        <%= items.first.agent_name %>
                      </td>
                    </tr>
                    <% items.each do |item| %>
                      <tr class="merchandise <%= 'bg7' unless item.ready.present? %>">
                        <td>
                          <%= check_box_tag "p-#{agent_id}", "", item.ready.present?, class: "cart_checkbox", pid: item.product_id, aid: agent_id %>
                        </td>
                        <td class="product-in-table">
                          <img class="img-responsive" src="assets/img/thumb/08.jpg" alt="">
                          <div class="product-it-in">
                            <h3><%= item.name %></h3>
                            <span><%= item.big_category_name %></span>
                          </div>    
                        </td>
                        <td><%= money item.price %></td>
                        <td class="state-success">
                            <button type="button" alt="cart_item_<%= item.product_id %>" aid="<%= agent_id %>" class="quantity-button decrease_num" name="subtract" value="-">-</button>
                            <%= text_field_tag "cart_item_#{item.product_id}", item.num, class: "quantity-field valid", maxlength: "4", maxsize: "4", aid: agent_id %>
                            <button type="button" alt="cart_item_<%= item.product_id %>" pid="<%= item.product_id %>"  aid="<%= agent_id %>" class="quantity-button increase_num" name="add" value="+">+</button>
                        </td>
                        <td class="shop-red">¥<span class="cart-item-total" id="item-buy-total-cart_item_<%= item.product_id %>"><%= number_with_precision(item.total, :precision => 2) %></span>
                        </td>
                        <td>
                          <button type="button" class="delete_from_cart_btn_<%= item.product_id %> close"><span>×</span>
                          <span class="sr-only">Close</span></button>
                        </td>
                      </tr>
                    <% end -%>
                  <% end -%>
                </tbody>
              </table>
            </div>
          </section>
                    
          <div class="coupon-code">
              <div class="row">
                  <div class="col-sm-4 sm-margin-bottom-30">
                  </div>
                  <div class="col-sm-3 col-sm-offset-5">
                      <ul class="list-inline total-result">
                          <li class="total-price">
                              <h4>总&nbsp;&nbsp;计:</h4>
                              <div class="total-result-in">
                                ¥<span id="item-buy-sum_total" ><%= number_with_precision(@cart.total, :precision => 2) %></span>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>    
        </div>
        <div class="actions clearfix">
          <ul role="menu" aria-label="Pagination">
            <li class="disabled" aria-disabled="true">
              <a href="/" role="menuitem">继续购物</a>
            </li>
            <li aria-hidden="false" aria-disabled="false">
              <%= link_to '', '', id: "new_order_link" %>
            </li>
          </ul>
        </div>
      </div>
      <% end -%>
    <% else %>
      <div class="successorder no-login">
        购物车空空的哦~，去看看心仪的商品吧~ <a href="/">去购物</a>！
      </div>
    <% end -%>
  </div><!--/end container-->
</div>


<script type="text/javascript">
  $(function(){
    // 超过限额  
    check_quote();

    $("#item-buy-sum_total").change(function(){
      check_quote();
    })

    function check_quote(){
      var total = parseFloat($("#item-buy-sum_total").text());
      if ($.isBlank(total)){
        $("#new_order_link").text("请至少选择一款商品").attr("href", "javascript:void(0);").css("background-color", "#C0C5CA");
        return;
      }
      $("#new_order_link").text("购买所选产品").attr("href", "<%= cart_order_path %>").css("background-color", "#18ba9b");
    }
  })
</script>