<div class="row">
    <div class="col-md-8 padding-top-10">
        <div class="tab-v1">
            <ul class="nav nav-tabs margin-bottom-20">
                <% type.each_with_index do |type, index| %>
                    <%= "<li #{"class='active'" if index == 0}><a data-toggle='tab' href='#questions_type_#{type[0]}'>#{type[1]}</a></li>".html_safe %>
                <% end %>
            </ul>
            <div class="tab-content">
                <!-- Tab Content 1 -->
                <% type.each_with_index do | type, index | %>
                <div id='<%= "questions_type_#{type[0]}" %>' class="tab-pane fade <%= 'in active' if index == 0 %>">
                    <div id="accordion-v<%= index+1 %>" class="panel-group acc-v1">
                    <% flag = 0 %>
                    <% @faqs.each do | faq | %>
                        <% next unless get_details_node_value(faq, faq.catalog == 'cjwt' ? "问题类别" : "采购类别") == type[0] %>
                        <% flag += 1 %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title color-dark">
                                    <a href='#collapse-v<%= "#{index}-#{flag}" %>' data-parent="#accordion-v<%= index+1 %>" data-toggle="collapse" class="accordion-toggle">
                                        <%= faq.title %>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse <%= 'in' if flag == 1 %>" id='collapse-v<%= "#{index}-#{flag}" %>'>
                                <div class="panel-body" style="text-indent:25px">
                                    <p><%= faq.content.html_safe %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="headline"><h4>点击排行</h4></div>
        <ul class="list-unstyled check-style font-size-14">
            <% @faqs.order("rand()").each do | f | %>
                <li><i class="fa fa-angle-right color-green"></i> <span><%= f.title %></span></li>
            <% end %>
        </ul>
    </div>
</div>
