<div class="wrapper">
    <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row">            
            <div class="col-md-9">
                <!-- General Questions -->
                <div class="headline"><h2><%=type%></h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                  <% faqs.each_with_index do |faq , i |%>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title color-dark">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
                                   <%=i+1%>、 <%= faq.title%> </a>
                            </h4>
                        </div>
                        <div id="collapse<%=i%>" class="panel-collapse collapse in">
                            <div class="panel-body">
                                 <%= faq.content%>
                            </div>
                        </div>
                    </div>
                    <%end%>
                </div><!--/acc-v1-->
                <!-- End General Questions -->

            </div><!--/col-md-9-->
            
            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
                </ul>
                <!-- End Contacts -->

                <!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                    <li><strong>Saturday:</strong> 11am to 3pm</li>
                    <li><strong>Sunday:</strong> Closed</li>
                </ul>
                <!-- End Business Hours -->
            </div><!--/col-md-3-->                  
        </div><!--/row-->
    </div><!--/container-->     
</div>
