<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 pull-left padding-top-5">
                <%= link_to('<i class="fa fa-plus"></i> 新增'.html_safe, "#opt_dialog", "data-toggle" => "modal", onClick: %Q{ modal_dialog_show('<i class="fa fa-plus"></i> 请选择新增产品的品目', '#{get_item_category_kobe_products_path(item_id: @item.id)}', '#opt_dialog') }) if action_name == 'item_list' %>
            </div>
            <div class="col-md-4 pull-right">
                <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
                <div class="margin-bottom-10">
                    <div class="input-group">
                        <%= f.search_field :brand_or_model_or_version_cont, class: "form-control input-sm", placeholder: "请输入产品的品牌、型号、版本号..." %>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <%= modal_dialog("opt_dialog") %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="index">序号</th>
                    <th class="hidden-sm">品牌</th>
                    <th class="hidden-sm">型号</th>
                    <th class="status_bar"><%= status_filter(Product) %></th>
                    <th class="date"><%= date_filter %></th>
                    <th class="cando">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each_with_index do |product,index| %>
                <tr>
                    <td><%= show_index(index) %></td>
                    <td><%= product.brand %></td>
                    <td><%= product.model %></td>
                    <td><%= product.status_bar %></td>
                    <td><%= show_date(product.created_at) %></td>
                    <td><%= btn_group(products_btn(product)) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @products %> 
    </div>                     
</div>