<%= title( Dictionary.web_site_name + " - " + @article.title) %>

<div class="container content-sm">
  <div class="headline-center margin-bottom-60">
    <h2><%= @article.title %>
      <div class="service-block-v5">
				<p> 时间：<%= @article.publish_time %> 发布：<%= @article.username %>点击：<%= @article.hits %></p>
		  </div>
    </h2>
  </div>
</div>
<div class="container">
	<%= @article.content.to_s.html_safe %>
</div>