<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 pull-left padding-top-5">
              <%= link_to('<i class="fa fa-plus"></i> 新增'.html_safe, "#opt_dialog", "data-toggle" => "modal", onClick: %Q{ modal_dialog_show('<i class="fa fa-plus"></i> 请选择新增产品的品目', '#{get_item_category_kobe_shared_index_path(item_id: 7, url: "new_kobe_fixed_asset_path", model_name: "Item")}', '#opt_dialog') }) if action_name == 'index' %>
            </div>
            <div class="col-md-4 pull-right">
                <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
                <div class="margin-bottom-10">
                    <div class="input-group">
                        <%= f.search_field :name_or_sn_cont, class: "form-control input-sm", placeholder: "请输入车辆信息的名称或编号..." %>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <%= modal_dialog("opt_dialog") %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="index">序号</th>
                    <th>资产编号</th>
                    <th>所属品目</th>
                    <th>资产名称</th>
                    <th>使用部门</th>
                    <th>负责人</th>
                    <th>车辆状态</th>
                    <th>购置日期</th>
                    <th>购置金额(不含税/元)</th>
                    <th>年折旧率</th>
                    <th>剩余资产值(元)</th>
                    <th class="date"><%= date_filter %></th>
                    <th class="cando">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @fixed_assets.each_with_index do |fixed_asset,index| %>
                <tr>
                    <td><%= show_index(index) %></td>
                    <td><%= fixed_asset.sn %></td>
                    <td><%= fixed_asset.category_name %></td>
                    <td><%= fixed_asset.name %></td>
                    <td><%= fixed_asset.dep_name %></td>
                    <td><%= fixed_asset.fuzeren %></td>
                    <td><%= fixed_asset.dict_value('asset_status') %></td>
                    <td><%= fixed_asset.gouzhi_riqi %></td>
                    <td class="money"><%= fixed_asset.gouzhi_jiage %></td>
                    <td><%= fixed_asset.zhejiulv %></td>
                    <td> <%= fixed_asset.left_value.present? && fixed_asset.left_value > 0 ? money(fixed_asset.left_value) : "<font color='red'>#{money(fixed_asset.left_value)}</font>".html_safe%>
                    </td>
                    <td><%= show_date(fixed_asset.created_at) %></td>
                    <td><%= btn_group(fixed_assets_btn(fixed_asset,action_name == "list")) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @fixed_assets %> 
    </div>                     
</div>