<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 pull-left padding-top-5">
                <%= link_to('<i class="fa fa-plus"></i> 发起议价'.html_safe, "#opt_dialog", "data-toggle" => "modal", onClick: %Q{ modal_dialog_show('<i class="fa fa-plus"></i> 请选择协议议价的品目', '#{show_optional_category_kobe_bargains_path}', '#opt_dialog') }) if params[:t] == 'my' %>
            </div>
            <div class="col-md-4 pull-right">
                <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
                <div class="margin-bottom-10">
                    <div class="input-group">
                        <%= f.search_field :name_or_sn_cont, class: "form-control input-sm", placeholder: "请输入协议议价的名称或编号..." %>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <%= modal_dialog("opt_dialog") %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="index">序号</th>
                    <% unless params[:t] == "my" %>
                    <th>单位名称</th>
                    <% end %>
                    <th>计划编号</th>
                    <th>计划名称</th>
                    <th>预算总金额</th>
                    <th class="status_badge"><%= status_filter(Bargain) %></th>
                    <th class="date"><%= date_filter %></th>
                    <th class="cando">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @bargains.each_with_index do |bargain,index| %>
                <tr>
                    <td><%= show_index(index) %></td>
                    <% unless params[:t] == "my" %>
                    <td><%= bargain.department.present? ? bargain.department.real_dep.name : "" %></td>
                    <% end %>
                    <td><%= bargain.sn %></td>
                    <td><%= bargain.name %></td>
                    <td class="money"><%= money bargain.total %></td>
                    <td><%= bargain.status_badge %></td>
                    <td><%= show_date(bargain.created_at) %></td>
                    <td><%= btn_group(bargains_btn(bargain,action_name == "list")) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @bargains %>
    </div>
</div>
