<div class="container s-results margin-bottom-50">
  <span class="results-number">供应商搜索关于“<span class="red"><%= params[:k] %></span>” 共有<%= @rs.total %>个结果</span>
  <% @rs.each_hit_with_result do |hit, r| %>
    <% name =  hit.highlight(:name) ? hit.highlight(:name).format { |word| "<span class=\"red\">#{word}</span>" } : r.try(:name) %>
    <% title = name %>
    <!-- Begin Inner Results -->
    <div class="inner-results bb1">
      <h3><%= link_to_blank title.html_safe, department_path(r) %></h3>
      <p><%= truncate(sanitize(r.summary.to_s), length: 100) %></p>
      <ul class="list-inline down-ul">
        <li>注册时间：<%= r.created_at %> </li>
      </ul>     
    </div>
  <% end -%>
  <!-- Begin Inner Results -->
  <%= paginate @rs.results %>
</div>


