<!--=== Begin 公告 ===-->
<div class="row job-content tag-box padding-0 margin-0">
  <div class="col-md-8 padding-0">
    <div class="carousel slide carousel-v2" id="portfolio-carousel">
      <ol class="carousel-indicators">
          <li class="rounded-x active" data-target="#portfolio-carousel" data-slide-to="0"></li>
          <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
          <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
          <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="3"></li>
          <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
              <img class="img-responsive full-width" src="/plugins/images/banners/1.jpg" alt="">
          </div>
          <div class="item">
              <img class="img-responsive full-width" src="/plugins/images/banners/2.jpg" alt="">
          </div>
          <div class="item">
              <img class="img-responsive full-width" src="/plugins/images/banners/3.jpg" alt="">
          </div>
          <div class="item">
              <img class="img-responsive full-width" src="/plugins/images/banners/4.jpg" alt="">
          </div>
          <div class="item">
              <img class="img-responsive full-width" src="/plugins/images/banners/5.jpg" alt="">
          </div>
      </div>
      <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
          <i class="fa fa-angle-left arrow-prev"></i>
      </a>
      <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
          <i class="fa fa-angle-right arrow-next"></i>
      </a>
    </div>

  </div>
  <div class="col-md-4 padding-0">
    <div class="tag-box tag-box-v3 margin-0 padding-bottom-0 padding-top-5">
      <div class="headline headline-md"><h2> 重要通知</h2><%= more_tag more_list_path(type: 'article_zytz') %></div>
      <ul class="list-unstyled categories">
        <% @zytz.each do |article| %>
          <%= article_li_tag(article, 15) %>
        <% end %>
        <%= (li_blank_tag * (6-@zytz.size)).html_safe if @zytz.size < 6 %>
      </ul>
    </div>
  </div>
</div>
<div class="mt20"></div>
<div class="row magazine-page">
  <div style="padding-right:3px;" class="col-md-9">
    <div class="row job-content margin-bottom-20">
      <div class="col-md-6 padding-right-5">
        <div class="tag-box tag-box-v1 margin-bottom-0">
          <h2>招标公告<%= more_tag more_list_path(type: 'article_zbgg') %></h2>
          <ul class="list-unstyled categories">
            <% @zbgg.each do |article| %>
              <%= article_li_tag(article) %>
            <% end %>
            <%= (li_blank_tag * (6-@zbgg.size)).html_safe if @zbgg.size < 6 %>
          </ul>
        </div>
      </div>

      <div class="col-md-6 padding-left-5">
        <div class="tag-box tag-box-v1 margin-bottom-0">
          <h2>招标结果公告<%= more_tag more_list_path(type: 'article_jggg') %></h2>
          <ul class="list-unstyled categories">
            <% @jggg.each do |article| %>
              <%= article_li_tag(article) %>
            <% end %>
            <%= (li_blank_tag * (6-@jggg.size)).html_safe if @jggg.size < 6 %>
          </ul>
        </div>
      </div>
    </div>

    <div class="margin-bottom-20">
      <img alt="" src="/plugins/images/ad/b1.jpg" class="img-responsive full-width">
    </div>

    <div class="row job-content">
      <div class="col-md-6 padding-right-5">
        <div class="tab-v1">
          <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="false" href="#tab-2" data-toggle="tab" style="font-size:18px;">竞价结果公告</a></li>
            <li class=""><a aria-expanded="true" href="#tab-1" data-toggle="tab" style="font-size: 18px;">网上竞价公告</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade" id="tab-1">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @wsjj_xq.each do |project| %>
                    <%= wsjj_xq_li_tag(project) %>
                  <% end %>
                  <%= (li_blank_tag * (8-@wsjj_xq.size)).html_safe if @wsjj_xq.size < 8 %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag more_list_path(type: 'wsjj_xq') %></div>
              </div>

            </div>
            <div class="tab-pane fade active in" id="tab-2">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @wsjj_jg.each do |project| %>
                     <%= wsjj_jg_li_tag(project) %>
                  <% end %>
                  <%= (li_blank_tag * (8-@wsjj_jg.size)).html_safe if @wsjj_jg.size < 8 %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag more_list_path(type: 'wsjj_jg') %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 padding-left-5">
        <div class="tab-v1">
          <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#tab-3" data-toggle="tab" style="font-size:18px;">协议转让公告</a></li>
            <li class=""><a aria-expanded="false" href="#tab-4" data-toggle="tab" style="font-size:18px;">无偿划转公告</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-3">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @xyzr.each do |project| %>
                    <%= transfer_li_tag(project) %>
                  <% end %>
                  <%= (li_blank_tag * (8-@xyzr.size)).html_safe if @xyzr.size < 8 %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag more_list_path(type: 'xyzr') %></div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-4">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @wchz.each do |project| %>
                    <%= transfer_li_tag(project) %>
                  <% end %>
                  <%= (li_blank_tag * (8-@wchz.size)).html_safe if @wchz.size < 8 %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag more_list_path(type: 'wchz') %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End 公告 -->

  <!-- Begin 右侧边栏 -->
  <div class="col-md-3">

    <div class="tag-box tag-box-v6 margin-bottom-10">
      <div class="headline"><h2 class="heading-sm"><i class="fa fa-qrcode"></i> 核对电子凭证真伪</h2></div>
      <form role="form "id="form" action="<%=check_ysd_path%>" method="post" target="_blank">
        <div class="form-group">
          <label for="exampleInputEmail1">电子凭证编号</label>
          <input class="form-control" id="exampleInputEmail1" placeholder="请输入电子凭证编号" name="no" type="text">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">项目总金额</label>
          <input class="form-control" id="exampleInputPassword1" placeholder="请输入项目总金额" name="m" type="text">
        </div>
        <button class="btn-u" type="submit">提交</button>
      </form>
    </div>

    <%= link_to_blank '<i class="fa fa-search font-size-22"></i> 入围供应商名单查询'.html_safe, dep_list_path, class: 'btn-u btn-u-lg btn-block btn-u-sea margin-bottom-10' %>
    <button class="btn-u btn-u-lg btn-block btn-u-red margin-bottom-10" type="button">
      <i class="fa fa-exclamation-triangle font-size-22"></i> 曝光违规、违约行为
    </button>

    <div class="blog-twitter margin-bottom-10">
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-red icon-book-open"></i>
          <div class="content-boxes-in-v3">
            <h3><%= link_to_blank '政策法规', show_faqs_path(type:'zcfg') %></h3>
            <p class="gray">集中采购相关政策文件</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-directions"></i>
          <div class="content-boxes-in-v3">
            <h3><%= link_to_blank '业务指南', show_faqs_path(type:'cgzn') %></h3>
            <p class="gray">集中采购的方式及流程</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-green icon-cloud-download"></i>
          <div class="content-boxes-in-v3">
            <h3><%= link_to_blank '下载中心', show_faqs_path(type:'xzzx') %></h3>
            <p class="gray">合同模板、系统操作手册...</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-aqua icon-earphones-alt"></i>
          <div class="content-boxes-in-v3">
            <h3><%= link_to_blank '常见问题', show_faqs_path(type:'cjwt') %></h3>
            <p class="gray">业务咨询、网上操作帮助...</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-brown icon-bubbles"></i>
          <div class="content-boxes-in-v3">
            <h3><%= link_to_blank '意见建议', show_faqs_path(type:'yjjy') %></h3>
            <p class="gray">发表您的意见及建议</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End 右侧边栏 -->
</div>

<div class="margin-bottom-20">
  <img alt="" src="/plugins/images/ad/b4.jpg" class="img-responsive full-width">
</div>

<!-- Begin 供应商风采-->
<div class="headline margin-bottom-35"><h2><i class="fa fa-trophy"></i>供应商风采</h2></div>

<% @deps.each_slice(4) do |dep| %>
  <div class="row high-rated margin-bottom-20">
    <% dep.each do |d|%>
      <%= show_dep_div(d) %>
    <% end %>
  </div>
  <%= "<hr />".html_safe unless @deps.last == dep.last %>
<% end %>

<!-- End 供应商风采-->

<div class="partners">
  <div class="headline margin-top-35"><h2><i class="fa fa- fa-rocket"></i> 友情链接</h2></div>
  <ul class="list-inline our-clients" id="effect-2">
    <li>
      <figure>
        <a href="http://www.sinograin.com.cn" target="_blank">
          <img src="/plugins/images/logo/zcl.png" alt="">
          <div class="img-hover">
            <h4>中国储备粮管理总公司</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.cngrain.com" target="_blank">
          <img src="/plugins/images/logo/zhlw.png" alt="">
          <div class="img-hover">
            <h4>中华粮网</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.zycg.gov.cn" target="_blank">
          <img src="/plugins/images/logo/ycg.png" alt="">
          <div class="img-hover">
            <h4>中央政府采购网</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.ctba.org.cn" target="_blank">
          <img src="/plugins/images/logo/zbtb.png" alt="">
          <div class="img-hover">
            <h4>中国招标投标协会</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://ecp.sgcc.com.cn" target="_blank">
          <img src="/plugins/images/logo/gjdw.png" alt="">
          <div class="img-hover">
            <h4>国家电网电子商务平台</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.bidding.csg.cn" target="_blank">
          <img src="/plugins/images/logo/nfdw.png" alt="">
          <div class="img-hover">
            <h4>中国南方电网阳光电子商务</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://eportal.energyahead.com" target="_blank">
          <img src="/plugins/images/logo/zsy.png" alt="">
          <div class="img-hover">
            <h4>中国石油物资采购网</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://zgsh.sinopec.com" target="_blank">
          <img src="/plugins/images/logo/zsh.png" alt="">
          <div class="img-hover">
            <h4>中国石化物资采购电子招标平台</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://b2b.10086.cn" target="_blank">
          <img src="/plugins/images/logo/zgyd.png" alt="">
          <div class="img-hover">
            <h4>中国移动采购与招标网</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.chinaunicombidding.cn" target="_blank">
          <img src="/plugins/images/logo/zglt.png" alt="">
          <div class="img-hover">
            <h4>中国联通采购与招标网</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.hnmec.org" target="_blank">
          <img src="/plugins/images/logo/zghn.png" alt="">
          <div class="img-hover">
            <h4>中国华能物资招标网</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.norincogroup-ebuy.com/" target="_blank">
          <img src="/plugins/images/logo/zgbq.png" alt="">
          <div class="img-hover">
            <h4>兵器工业集团公司采购电子平台</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://jc.cdtbid.cn" target="_blank">
          <img src="/plugins/images/logo/zgdt.png" alt="">
          <div class="img-hover">
            <h4>中国大唐集团公司集采平台</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.crecgec.com/" target="_blank">
          <img src="/plugins/images/logo/zgzt.png" alt="">
          <div class="img-hover">
            <h4>中国中铁采购电子商务平台</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://eps.baosteel.net.cn" target="_blank">
          <img src="/plugins/images/logo/bgjt.png" alt="">
          <div class="img-hover">
            <h4>宝钢集团采购电子商务平台</h4>
          </div>
        </a>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://www.china-tender.com.cn" target="_blank">
          <img src="/plugins/images/logo/zgty.png" alt="">
          <div class="img-hover">
            <h4>中国通用招标网</h4>
          </div>
        </a>
      </figure>
    </li>
  </ul>
</div>
