<!--=== Content Part ===-->
<div class="row job-content tag-box padding-0 margin-0">
  <div class="col-md-8 padding-0">
    <div class="carousel slide carousel-v1" id="myCarousel-1">
      <div class="carousel-inner">
        <div class="item">
          <img alt="" src="/plugins/images/sliders/10.jpg">
          <div class="carousel-caption">
            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
          </div>
        </div>
        <div class="item">
          <img alt="" src="/plugins/images/sliders/4.jpg">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
          </div>
        </div>
        <div class="item active">
          <img alt="" src="/plugins/images/sliders/11.jpg">
          <div class="carousel-caption">
            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
          </div>
        </div>
      </div>

      <div class="carousel-arrow">
        <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
          <i class="fa fa-angle-left"></i>
        </a>
        <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4 padding-0">
    <div class="tag-box tag-box-v3 margin-0 padding-bottom-0 padding-top-5">
      <div class="headline headline-md"><h2> 重要通知</h2><%= more_tag %></div>
      <ul class="list-unstyled categories">
        <% @zytz.each do |article| %>
          <%= article_li_tag(article, 13) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<hr class="hr-md">
<div class="service-block service-block-green">
  <i>这是一个广告位</i>
</div>
<div class="row magazine-page">
  <div style="padding-right:3px;" class="col-md-9">
    <div class="row job-content margin-bottom-20">
      <div class="col-md-6 padding-right-5">
        <!--Tag Box v6-->
        <div class="tag-box tag-box-v1 margin-bottom-0">
          <h2>招标公告<%= more_tag %></h2>
          <ul class="list-unstyled categories">
            <% @zbgg.each do |article| %>
              <%= article_li_tag(article) %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-6 padding-left-5">
        <!--Tag Box v7-->
        <div class="tag-box tag-box-v1 margin-bottom-0">
          <h2>招标结果公告<%= more_tag %></h2>
          <ul class="list-unstyled categories">
            <% @jggg.each do |article| %>
              <%= article_li_tag(article) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="service-block service-block-blue">
      <i class="icon-custom icon-color-light rounded-x icon-line icon-diamond"></i>
      <h2 class="heading-md">这是一个广告位</h2>
    </div>

    <div class="row job-content">
      <div class="col-md-6 padding-right-5">
        <div class="tab-v1">
          <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#tab-1" data-toggle="tab" style="font-size: 18px;">网上竞价公告</a></li>
            <li class=""><a aria-expanded="false" href="#tab-2" data-toggle="tab" style="font-size:18px;">竞价结果公告</a></li>
          </ul>                
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-1">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @wsjj_xq.each do |project| %>
                    <%= li_tag_with_date(project.name, bid_project_path(project), project.end_time.to_date, 20) %>
                  <% end %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag %></div>
              </div>

            </div>
            <div class="tab-pane fade" id="tab-2">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @wsjj_jg.each do |project| %>
                     <%= li_tag_with_date(project.name, bid_project_path(project), project.updated_at.to_date, 18, true, (project.status == 12 ? '中标' : '废标'), (project.status == 12 ? 'green' : 'blue')) %>
                  <% end %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 padding-left-5">
        <div class="tab-v1">
          <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#tab-3" data-toggle="tab" style="font-size:18px;">协议转让公告</a></li>
            <li class=""><a aria-expanded="false" href="#tab-4" data-toggle="tab" style="font-size:18px;">无偿划转公告</a></li>
          </ul>                
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-3">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @xyzr.each do |project| %>
                    <%= li_tag_with_date(project.name, transfer_path(project), project.submit_time.to_date, 20) %>
                  <% end %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag %></div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-4">
              <div class="tag-box tag-box-v6 margin-bottom-0">
                <ul class="list-unstyled categories">
                  <% @wchz.each do |project| %>
                    <%= li_tag_with_date(project.name, transfer_path(project), project.submit_time.to_date, 20) %>
                  <% end %>
                </ul>
                <div class="padding-bottom-10"><%= more_tag %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
  <!-- End Content -->

  <!-- Begin Sidebar -->
  <div class="col-md-3">
    <!-- Magazine Posts -->


    <div class="tag-box tag-box-v6 margin-bottom-10">
      <div class="headline"><h2 class="heading-sm"><i class="fa fa-qrcode"></i> 核对电子凭证真伪</h2></div>                                                    
      <form role="form "id="form" action="<%=check_ysd_path%>" method="post" target="_blank">
        <div class="form-group">
          <label for="exampleInputEmail1">电子凭证编号</label>
          <input class="form-control" id="exampleInputEmail1" placeholder="请输入电子凭证编号" name="no" type="text">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">项目总金额</label>
          <input class="form-control" id="exampleInputPassword1" placeholder="请输入项目总金额" name="m" type="text">
        </div>
        <button class="btn-u" type="submit">提交</button>
      </form>
    </div>

    <button type="button" class="btn-u btn-u-lg btn-block btn-u-sea margin-bottom-10"><i class="fa fa-search font-size-22"></i> 入围供应商名单查询</button>
    <button class="btn-u btn-u-lg btn-block btn-u-red margin-bottom-10" type="button">
      <i class="fa fa-exclamation-triangle font-size-22"></i> 曝光违规、违约行为
    </button>

    <div class="blog-twitter margin-bottom-10">
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-red icon-book-open"></i>
          <div class="content-boxes-in-v3">
            <h3><a href="<%=show_faqs_path(type:'zcfg')%>"> 政策法规</a></h3>
            <p>集中采购管理办法、采购目录...</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-directions"></i>
          <div class="content-boxes-in-v3">
            <h3><a href="<%=show_faqs_path(type:'cgzn')%>"> 采购指南</a></h3>
            <p>采购方式、采购计划、电子凭证</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-green icon-cloud-download"></i>
          <div class="content-boxes-in-v3">
            <h3><a href="<%=show_faqs_path(type:'xzzx')%>"> 下载中心</a></h3>
            <p>合同模板、操作手册、业务单据</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-aqua icon-earphones-alt"></i>
          <div class="content-boxes-in-v3">
            <h3><a href="<%=show_faqs_path(type:'cjwt')%>"> 常见问题</a></h3>
            <p>业务咨询、网上操作帮助...</p>
          </div>
        </div>
      </div>
      <div class="blog-twitter-inner">
        <div class="content-boxes-v3">
          <i class="icon-custom icon-sm rounded-x icon-bg-brown icon-bubbles"></i>
          <div class="content-boxes-in-v3">
            <h3><a href="<%=new_kobe_faq_path(catalog: 'yjjy')%>"> 意见建议</a></h3>
            <p>发表您的意见及建议</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="margin-0">

</div>
<!-- End Sidebar -->
</div>

<!-- Recent Works -->
<!-- <div class="owl-carousel-v1 owl-work-v1 margin-bottom-35">
  <div class="headline"><h2 class="pull-left"><i class="fa fa-signal"></i> 畅销入围产品</h2>
    <div class="owl-navigation">
      <div class="customNavigation">
        <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
      </div>
    </div><!--/navigation-->
  <!-- </div> -->

<div class="headline"><h2>畅销入围产品</h2></div>

<div class="row margin-bottom-20">
  <!-- <div class="owl-recent-works-v1"> -->
  <% @products.each do |product|%>
    <%= show_product_div(product) %>
  <% end %>
    <!-- <div class="item">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <img class="img-responsive" src="/plugins/images/zclfww/product.jpg" alt="">
          </div>
          <a class="btn-more hover-effect" href="#">详情 +</a>         
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">叶威 移动升降（登高)式输送机 TDYW550#×6m</a></h3>
          <p>移动轮采用6.0-16充气轮，防护等级为IP54。</p>
        </div>
      </div>   
    </div>
    <div class="item">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <img class="img-responsive" src="/plugins/images/zclfww/product.jpg" alt="">
          </div>
          <a class="btn-more hover-effect" href="#">详情 +</a>                   
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">叶威 移动升降（登高)式输送机 TDYW550#×6m</a></h3>
          <p>移动轮采用6.0-16充气轮，防护等级为IP54。</p>
        </div>
      </div>   
    </div>
    <div class="item">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <img class="img-responsive" src="/plugins/images/zclfww/product.jpg" alt="">
          </div>
          <a class="btn-more hover-effect" href="#">详情 +</a>                   
        </div>
        <div class="caption">
          <h3><a class="hover-effect" href="#">叶威 移动升降（登高)式输送机 TDYW550#×6m</a></h3>
          <p>移动轮采用6.0-16充气轮，防护等级为IP54。</p>
        </div>
      </div>  
    </div>
    <div class="item">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <img class="img-responsive" src="/plugins/images/zclfww/product.jpg" alt="">
          </div>
          <a class="btn-more hover-effect" href="#">详情 +</a>                   
        </div>
        <div class="caption">
         <h3><a class="hover-effect" href="#">叶威 移动升降（登高)式输送机 TDYW550#×6m</a></h3>
         <p>移动轮采用6.0-16充气轮，防护等级为IP54。</p>
       </div>
     </div>   
   </div> -->

  <!-- </div> -->
</div>
<!-- End Recent Works -->

<!--供应商展示-->
<div class="headline margin-bottom-35"><h2><i class="fa fa-trophy"></i>入围供应商展示</h2></div>

<!-- Easy Blocks v1 -->                
<div class="row high-rated margin-bottom-20">
  <% @deps.each do |dep|%>
    <%= show_dep_div(dep) %>
  <% end %>
</div>
<!-- End Easy Blocks v1 -->                
<hr>

<!--供应商展示结束-->



<div class="partners">
  <div class="headline"><h2><i class="fa fa- fa-rocket"></i> 站点链接</h2></div>
  <ul class="list-inline our-clients" id="effect-2">
    <li>
      <figure>
        <img src="/plugins/images/clients2/ea-canada.png" alt="">
        <div class="img-hover">
          <h4>Ea Canada</h4>
        </div>
      </figure>
    </li>    
    <li>
      <figure>
        <img src="/plugins/images/clients2/inspiring.png" alt="">
        <div class="img-hover">
          <h4>Inspiring</h4>  
        </div>
      </figure>
    </li>    
    <li>
      <figure>
        <img src="/plugins/images/clients2/ucweb.png" alt="">  
        <div class="img-hover">
          <h4>UcWeb</h4>  
        </div>
      </figure>
    </li>    
    <li>
      <figure>
        <img src="/plugins/images/clients2/clarks.png" alt="">  
        <div class="img-hover">
          <h4>Clarks</h4>
        </div>
      </figure>
    </li>    
    <li>
      <figure>
        <img src="/plugins/images/clients2/corepreserves.png" alt="">  
        <div class="img-hover">
          <h4>Core Preserves</h4>
        </div>
      </figure>
    </li>    
    <li>
      <figure>
        <img src="/plugins/images/clients2/finals.png" alt="">  
        <div class="img-hover">
          <h4>USL Champions</h4>
        </div>
      </figure>
    </li>    
    <li>
      <figure>
        <img src="/plugins/images/clients2/getaround.png" alt="">  
        <div class="img-hover">
          <h4>GetAround</h4>
        </div>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/plugins/images/clients2/baderbrau.png" alt="">  
        <div class="img-hover">
          <h4>Baderbrau</h4>
        </div>
      </figure>
    </li>      
    <li>
      <figure>
        <img src="/plugins/images/clients2/emirates.png" alt="">  
        <div class="img-hover">
          <h4>Emirates</h4>
        </div>
      </figure>
    </li>    
  </ul>
</div>
