<!--=== Footer Version 2 ===-->
    <div class="footer-v2" id="footer-v2">

      <div class="footer">

        <div class="container">
          <div class="row">
            <!-- About -->
            <div class="col-md-3 md-margin-bottom-40 textl">
              <a href="index-2.html"><img alt="" src="/plugins/images/zclfww/qrcode.png" class="footer-logo" id="logo-footer"></a>



            </div>
            <!-- End About -->

            <!-- Link List -->
            <div class="col-md-3 md-margin-bottom-40 textl">
              <div class="headline"><h2 class="heading-sm">关于我们</h2></div>
              <ul class="list-unstyled link-list">
                <li><a href="#">中储粮简介</a></li>
                <li><a href="#">中储粮服务网概况</a></li>
                <li><a href="#">网站地图</a></li>

              </ul>
            </div>
            <!-- End Link List -->                   
            <div class="col-md-3 md-margin-bottom-40 textl">
              <div class="headline"><h2 class="heading-sm">合作伙伴</h2></div>
              <ul class="list-unstyled link-list">
                <li><a href="#">京东商城</a></li>
                <li><a href="#">苏宁易购</a></li>
                <li><a href="#">国美在线</a></li>
                <li><a href="#">史泰博(Staples)</a></li><li>
                </li></ul>
            </div>
            <!-- Latest Tweets -->

            <!-- End Latest Tweets -->    

            <!-- Address -->
            <div class="col-md-3 md-margin-bottom-40 textl">
              <div class="headline"><h2 class="heading-sm">联系方式</h2></div>                         
              <address class="md-margin-bottom-40">
                <i class="fa fa-home"></i><%= Dictionary.company_addr %> <br>
                <i class="fa fa-phone"></i>办公用品/汽车采购：<%= Dictionary.service_bg_tel %> <br>
                <i class="fa fa-phone"></i>粮油物资：<%= Dictionary.service_lj_tel %> <br>
                <i class="fa fa-phone"></i>技术支持：<%= Dictionary.technical_support %> <br>
                <i class="fa fa-fax"></i>传真：<%= Dictionary.fax %><br>
                <i class="fa fa-envelope"></i>Email: <a href="mailto:<%= Dictionary.web_email %>"><%= Dictionary.web_email %></a> 
              </address>

              <!-- Social Links -->

              <!-- End Social Links -->
            </div>
            <!-- End Address -->
          </div>
        </div> 
      </div><!--/footer-->

      <div class="copyright">
        <div class="container">
          <p class="text-center"><%= "#{Dictionary.web_site_founded_year} - #{Time.now.year}" %> &copy; All Rights Reserved. <a target="_blank" href="<%= Dictionary.web_site_domain %>"><%= Dictionary.web_site_name %></a> 版权所有</p>
        </div> 
      </div><!--/copyright--> 
    </div>    
  <!--=== End Footer Version 2 ===-->
