<div class="step">
  <div class="headline"><h2><i class="fa fa-chevron-circle-down"></i>送货清单</h2></div>
  <table class="table table-bordered table-striped">
    <tr>    
      <th>产品</th>
      <th width="190px">最高限价</th>
      <th width="190px" class="red">采购单价 <span class="icon-question" title="小于等于供应商报价"></span></th>
      <th width="100px">数量</th>
      <th width="190px">小计</th>
    </tr>
    <%= f.fields_for :items do |item_form| %>
    <% item = item_form.object %>
      <tr>
        <td><%= item.name %></td>
        <td class="tc"><%= money item.bid_price %></td>
        <td class="tc red">
          ¥<%= item_form.text_field :price, class: "w80", max_price: item.bid_price.to_f, num: item.quantity %>
        </td>
        <td class="tc"><%= item.quantity %></td>
        <td class="tc">¥<span class="cart-item-total" id="cart-item-total-<%= item.vid %>"><%= number_with_precision(item.total, :precision => 2) %><span></td>
      </tr>
    <% end %>
  </table>
</div>
