<div class="panel panel-grey margin-bottom-40">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 pull-left padding-top-5">
        <%= link_to(label_tag("批量审核", "primary"), "javascript:void(0)", onClick: %Q{show_batch_audit("#{Order.icon_action('批量审核').html_safe}", '/kobe/orders/batch_audit')}, class: 'margin-right-10') if action_name == "list" && current_user.is_boss? %>
        <%= get_btn_by_order_type(search_url, @count_ha) if ["index", "list"].include?(action_name) %>
        <%= link_to( '<i class="fa fa-plus"></i> 新增'.html_safe, new_kobe_order_path) if params[:r].to_i == Rule.find_by(yw_type: 'ddcg').try(:id) && action_name == "my_list" %>
      </div>
      <div class="col-md-4 pull-right">
        <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
        <div class="margin-bottom-10">
          <div class="input-group">
            <%= f.search_field :sn_or_contract_sn_or_name_cont, class: "form-control input-sm", placeholder: "请输入项目名称或项目编号..." %>
            <span class="input-group-btn">
              <button class="btn btn-success btn-sm" type="submit">搜索</button>
            </span>

            <span class="margin-left-10 pull-left">
              <button class="btn btn-success btn-sm accordion-toggle" data-target="#advanced_search" data-toggle="collapse" type="button" aria-expanded="true">高级搜索</button>
            </span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <!-- 高级搜索的form -->
    <div class="panel-collapse collapse" id="advanced_search" aria-expanded="true">
      <%= get_advanced_search_form(search_url, Order, Order.search_xml(params[:r])) %>
    </div>
    <!-- 高级搜索form end -->
  <%= modal_dialog("opt_dialog") %>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" name="order_ids" id="all_check_box"><i></i></th>
          <th class="index">序号</th>
          <th><%= sort_link(@q, :sn, '凭证编号', default_order: :desc) %></th>
          <% unless action_name == 'my_list' %>
          <th>采购单位</th>
          <% end %>
          <th>名称</th>
          <th><%= sort_link(@q, :total, '总金额（元）', default_order: :desc) %></th>
          <!-- <th>最近操作</th>             -->
          <th class="status_bar"><%= action_name == 'list' ? "状态" : status_filter(Order) %></th>
          <th class="cando">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each_with_index do |order,index| %>
        <tr>
          <td>
            <input type="checkbox" name="order_ids" value="<%= order.id %>" class="check_box_item"><i></i>
          </td>
          <td><%= show_index(index) %></td>
          <td><%= order.sn %></td>
          <% unless action_name == 'my_list' %>
          <td><%= order.buyer_name %></td>
          <% end %>
          <td><%= order.name %></td>
          <td class="money"><%= money order.total %></td>
          <!-- <td><%#= show_last_user(order) %></td> -->
          <td><%= "#{order.status_bar}#{show_last_user(order)}".html_safe %></td>
          <td><%= btn_group(orders_btn(order, action_name == 'list')) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
  </div>
</div>
