<div class="h_content float_left">凭证编号：<%=raw @order.sn %></div>
<div class="h_content float_left">发票编号：<%=raw @order.invoice_number  %></div>
<div class="h_content float_right">采购方式：<%=Dictionary.yw_type[@order.yw_type] %></div>
<div class="h_content">
   <%= render  partial: "/kobe/orders/ht/order_items_content" %>
</div>

<div style="margin:14px 0 14px 0;"><div class="h3">注意事项：</div>
<ol class="h_content">
  <li>电子凭证作为采购单位报销入帐的凭证，由系统自动生成。每一个电子凭证在系统中都会生成唯一的编号。</li>
  <li>各单位的审计、财务人员可以登陆中储粮服务网，点击“核对电子凭证真伪”图标，输入凭证编号和金额核实真伪。如有疑问请致电总公司集中采购主管部门（<%= "#{Dictionary.service_bg_tel} / #{Dictionary.service_lj_tel}" %>）。</li>
</ol>
</div>
<div style="clear:both">
    <div class="h_content float_left">采购单位：<%=@order.buyer_name%></div>
    <div class="h_content float_left">供货单位：<%=@order.seller_name%></div>
</div>
<div style="clear:both">
    <div class="h_content float_left">联 系 人：<%=@order.buyer_man%></div>
    <div class="h_content float_left">联 系 人：<%=@order.seller_man%></div>
</div>
<div style="clear:both">
    <div class="h_content float_left">联系电话：<%=@order.buyer_tel%></div>
    <div class="h_content float_left">联系电话：<%=@order.seller_tel%></div>
</div>
<div style="clear:both">
    <div class="h_content float_left">单位地址：<%=@order.buyer_addr%></div>
    <div class="h_content float_left">单位地址：<%=@order.seller_addr%></div>
</div>