<div class="wizard">
  <%= render "shared/steps", i: 2 %>
</div>

<div class="container content"> 
<%= simple_form_for @order, url: create_cart_order_kobe_orders_path, html: {id: "order_create_form"} do |f| %>
  <!-- 收货地址 -->
  <%= render 'address', f: f %>
  <!-- 采购方式 -->
  <%= render 'yw_type', f: f %>

  <h5><i class="fa fa-chevron-circle-down"></i> 购买的商品：</h5>
  <div class="row p0_25">
    <% @cart.items.each do |item| %>
      <p><%= item.name %> x <%= item.num %></p>
    <% end -%>
  </div>

  <h5><i class="fa fa-chevron-circle-down"></i> 备注：</h5>
  <div class="row p0_25">
    <%= f.text_field :summary %>
  </div>

  <%= f.submit '确认下单', class: 'btn-u', id: 'order_submit_btn' %>
  
<% end -%>
</div> 