<div class="wizard">
  <%#= render "shared/steps", i: 2 %>
  <%= show_step(["我的购物车", "下单", "供应商确认", "打印合同<br/>及凭证", "商品及<br/>服务评价"], 1) %>
</div>

<div class="container content"> 
<%= simple_form_for @order, remote: true, url: update_cart_order_kobe_orders_path, html: {id: "order_create_form"} do |f| %>
  <!-- 收货地址 -->
  <%= render 'address', f: f %>
  <!-- 采购方式 -->
  <%= render 'yw_type', f: f %>
  <!-- 送货清单 -->
  <%= render 'items', f: f %>

  <%= render 'fee', f: f %>

  <div class="step" id="step_summary">
    <div class="headline"><h2>备注</h2></div>
    <div class="row p0_25">
      <%= f.text_field :summary, class: "w350 h30 fiel_inpute" %>
    </div>
  </div>

  <div id="order_msg" class="mt12 alert alert-danger fade in tr hide">
  </div>

  <%= f.submit '确认下单', class: 'fr btn-u btn-u-lg btn-u-orange rounded', id: 'order_submit_btn' %>

  <button type="button" id="loading_btn" class="fr btn btn-lg rounded" disabled="disabled" style="display:none;">订单提交中...</button>

  <div class="ordernumber">应付金额：<span>￥</span><span id="order_total"><%= "%.2f" % @order.total.to_f %></span></div>
  
<% end -%>
</div> 