<div class="tag-box tag-box-v3 margin-bottom-40">
  <div class="row">
    <h4 class="margin-bottom-10">
    <div class="col-md-4 textr">项目编号:</div>
    <div class="col-md-8"><%=@order.sn%></div>
    </h4>
  </div>
   <div class="row">
    <h4 class="margin-bottom-10">
    <div class="col-md-4 textr">合同编号:</div>
    <div class="col-md-8"><%=@order.contract_sn%></div>
    </h4>
   </div>
   <div class="row">
    <h4 class="margin-bottom-10">
    <div class="col-md-4 textr">发票编号:</div>
    <div class="col-md-8"><%=@order.invoice_number.present? ? @order.invoice_number : '<font color="red">此处无法打印凭证需填写发票编号</font>'.html_safe%>
    </div>
    </h4>
    </div>
    <div class="margin-top-30 row textc">
    <span class="col-md-6 textr"><%=link_to '打印合同' , print_ht_kobe_order_path(@order), target: "_blank" ,class: "btn-u"%></span>
    <span class="col-md-6 textl">
    <%= @order.invoice_number.present? ? (link_to '打印凭证', print_ysd_kobe_order_path(@order), target: "_blank" ,class: "btn-u") :  (link_to '无法打印' , 'javascript:void(0)' , class: "btn-u btn-u-default", id: "print_no" ,target: "_blank") %></span>
     </div>

</div>      

