<div class="panel-heading-v2 overflow-h">
    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> 本年度辖区内采购方式占比</h2>
    <!-- <a href="#"><i class="fa fa-cog pull-right"></i></a> -->
</div>
<h3 class="heading-xs">协议供货 <span class="pull-right"><%= number_to_percentage @xygh, precision: 2 %></span></h3>
<div class="progress progress-u progress-xxs">
    <div style="width: <%= @xygh %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= @xygh %>" role="progressbar" class="progress-bar progress-bar-u">
    </div>
</div>
<h3 class="heading-xs">定点采购 <span class="pull-right"><%= number_to_percentage @ddcg, precision: 2 %></span></h3>
<div class="progress progress-u progress-xxs">
    <div style="width: <%= @ddcg %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= @ddcg %>" role="progressbar" class="progress-bar progress-bar-blue">
    </div>
</div>
<h3 class="heading-xs">网上竞价 <span class="pull-right"><%= number_to_percentage @wsjj, precision: 2 %></span></h3>
<div class="progress progress-u progress-xxs margin-bottom-40">
    <div style="width: <%= @wsjj %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= @wsjj %>" role="progressbar" class="progress-bar progress-bar-dark">
    </div>
</div>