<div class="panel-heading-v2 overflow-h">
    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> 本年度辖区内采购方式占比</h2>
    <!-- <a href="#"><i class="fa fa-cog pull-right"></i></a> -->
</div>

<% 
  Dictionary.yw_type.each_with_index do |a, i| 
    next if a[0] == 'grcg'
    yw_type = @type_arr.find{|e| e[0] == a[0]}
%>

<%= progress_bar("#{a[1]} #{money(yw_type[1]) if yw_type.present?}", (yw_type.present? ? yw_type[2] : 0), Dictionary.colors.map(&:first)[i]) %>

<% end -%>

<hr>

<div class="panel-heading-v2 overflow-h">
    <h2 class="heading-xs pull-left"><i class="fa fa-vine"></i> 粮机物资采购情况</h2>
</div>

<%= show_category_total("粮机设备", @category_ha['lj']) %>

<%= show_category_total("建筑工程", @category_ha['gc']) %>

<%= show_category_total("包装物采购", @category_ha['bzw']) %>

<%= progress_bar("粮机物资采购占比", ([@category_ha['lj'], @category_ha['gc'], @category_ha['bzw']].compact.sum * 100)/@total, 'purple') %>


<div class="panel-heading-v2 overflow-h">
    <h2 class="heading-xs pull-left"><i class="fa fa-car"></i> 汽车采购情况</h2>
</div>

<%= show_category_total("汽车采购", @category_ha['qc']) %>

<%= progress_bar("汽车采购占比", ([@category_ha['qc']].compact.sum * 100)/@total, 'brown') %>

<div class="panel-heading-v2 overflow-h">
    <h2 class="heading-xs pull-left"><i class="fa fa-desktop"></i> 办公物资采购情况</h2>
</div>

<%= show_category_total("办公物资", @category_ha['bg']) %>

<%= show_category_total("电商采购", @category_ha['ds']) %>

<%= show_category_total("职工工装", @category_ha['gz']) %>

<%= progress_bar("办公物资采购占比", ([@category_ha['bg'], @category_ha['ds'], @category_ha['gz']].compact.sum * 100)/@total, 'sea') %>

