<div class="profile">
	<div class="row">
        <div class="col-md-3 md-margin-bottom-40">

            <%= render partial: "yw_type" %>

            <hr>

            <%= render partial: "notification" %>

            <div class="margin-bottom-50"></div>

            <!--Datepicker-->
            <form action="#" id="sky-form2" class="sky-form">
                <div id="inline-start"></div>
            </form> 
            <!--End Datepicker-->
        </div>

        <div class="col-md-9">
            <div class="profile-body">
                <%= render partial: "tongji" %>

                <hr>

                <%= render partial: "to_do" %>

                <hr>
                
                <%= render partial: "order_list" %>

            </div>
        </div>
    </div>
</div>