<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> 单位查询</h3>
    </div>
    <div class="panel-body">
      <%= search_form_for @q, url: search_kobe_departments_path, html: { method: :post } do |f| %>
				<div class="margin-bottom-10">
				    <div class="input-group">
				    	<%= f.search_field :name_cont, class: "form-control input-sm", placeholder: "请输入单位名称..." %>
				        <span class="input-group-btn">
				          <button class="btn btn-success btn-sm" type="submit">搜索</button>
				        </span>
				    </div>
				</div>
			<% end %>
			<% if @deps.present? %>
				<table class="table table-bordered table-hover">
				    <thead>
				        <tr>
				            <th class="index">序号</th>
				            <th class="hidden-sm">名称</th>
				        </tr>
				    </thead>
				    <tbody>
				        <% @deps.each_with_index do |dep,index| %>
				        <tr>
				            <td><%= show_index(index) %></td>
				            <td><%= link_to dep.name, kobe_departments_path(id: dep.id), target: "_blank" %></td>
				        </tr>
				        <% end %>
				    </tbody>
				</table>
				<%= paginate @deps %> 
			<% end %>
    </div>                     
</div>