<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= title %></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 pull-left padding-top-5">
                <%= link_to('<i class="fa fa-plus"></i> 新增'.html_safe, new_kobe_daily_cost_path) %>
            </div>
            <div class="col-md-4 pull-right">
                <%= search_form_for @q, url: search_url, html: { method: :get } do |f| %>
                <div class="margin-bottom-10">
                    <div class="input-group">
                        <%= f.search_field :name_or_sn_cont, class: "form-control input-sm", placeholder: "请输入日常费用的名称或编号..." %>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <%= modal_dialog("opt_dialog") %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="index">序号</th>
                    <th>编号</th>
                    <th>类别</th>
                    <th>录入人</th>
                    <th>金额</th>
                    <th class="status_bar"><%= status_filter(DailyCost) %></th>
                    <th class="date"><%= date_filter %></th>
                    <th class="cando">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @daily_costs.each_with_index do |daily_cost,index| %>
                <tr>
                    <td><%= show_index(index) %></td>
                    <td><%= daily_cost.sn %></td>
                    <td><%= daily_cost.name %></td>
                    <td><%= daily_cost.dep_man %></td>
                    <td class="money"><%= money daily_cost.total %></td>
                    <td><%= daily_cost.status_bar %></td>
                    <td><%= show_date(daily_cost.created_at) %></td>
                    <td><%= btn_group(daily_costs_btn(daily_cost,action_name == "list")) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @daily_costs %> 
    </div>                     
</div>