<div class="panel panel-grey margin-bottom-40">
  <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= @panel_title %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <div class="pt10">
          <%= link_to label_tag("正在进行", "#{'warning' if params[:flag] == '1'}"), kobe_bid_project_bids_path(flag: 1) %>
          <%= link_to label_tag("已报价", "#{'warning' if params[:flag] == '2'}"), kobe_bid_project_bids_path(flag: 2) %>
          <%= link_to label_tag("已中标", "#{'warning' if params[:flag] == '3'}"), kobe_bid_project_bids_path(flag: 3) %>
        </div>
      </div>
      <div class="col-md-4 pull-right">

        <%= search_form_for @q, url: kobe_bid_project_bids_path, html: { method: :get } do |f| %>
          <div class="margin-bottom-10">
            <div class="input-group">
              <%= hidden_field_tag "flag", params[:flag] %>
              <%= f.search_field :name_or_code_cont, class: "form-control input-sm", placeholder: "请输入项目编号或项目名称..." %>
              <span class="input-group-btn ml8">
                <button class="btn btn-success btn-sm mr8" type="submit">搜索</button>
                <%= link_to "全部", kobe_bid_project_bids_path(flag: params[:flag]), class: "btn btn-success btn-sm" %>
              </span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="index">序号</th>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>明标/暗标</th>
            <th class="date">投标截止时间</th>
            <th>项目状态</th>
            <th>投标状态</th>
            <th class="cando">操作</th>
          </tr>
        </thead>
        <tbody>
        <% @bid_projects.each_with_index do |bid_project, index| %>
          <tr>
            <td><%= show_index(index) %></td>
            <td><%= bid_project.code %></td>
            <td><%= bid_project.name %></td>
            <td class="tc"><%= bid_project.dict_value("lod") %></td>
            <td class="tc"><%= bid_project.end_time %></td>
            <td class="tc"><%= bid_project.can_choose? ? label_tag('截止投标','info rounded-2x') : bid_project.status_badge %></td>
            <td class="tc"><%= bid_project.bid_project_bids.map(&:user_id).include?(current_user.id) ? label_tag("已投标") : label_tag("未投标", "warning") %></td>
            <td class="tc"><%= btn_group(bid_project_bids_btn(bid_project)) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @bid_projects %>
    </div>
</div>
