<div class="panel panel-grey margin-bottom-40">
  <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> 公告管理</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 pull-left padding-top-5">
          <%= link_to '<i class="fa fa-plus"></i> 新增</a>'.html_safe, new_kobe_msg_path %>
      </div>
      <div class="col-md-4 pull-right">
        <%= search_form_for @q, url: kobe_msgs_path, html: { method: :get } do |f| %>
            <div class="margin-bottom-10">
              <div class="input-group">
                <%= f.search_field :title_cont, class: "form-control input-sm", placeholder: "请输入公告名称..." %>
                <span class="input-group-btn">
                  <button class="btn btn-success btn-sm" type="submit">搜索</button>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= modal_dialog("opt_dialog") %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="index">序号</th>
            <th class="hidden-sm">标题</th>
            <th class="hidden-sm">发送人</th>
            <th class="hidden-sm">接收人</th>
            <th class="status_badge"><%= status_filter(Msg) %></th>
            <th class="date"><%= date_filter %></th>
            <th class="cando">操作</th>
          </tr>
        </thead>
        <tbody>
        <% @msgs.each_with_index do |msg,index| %>
          <tr>
            <td><%= show_index(index) %></td>
            <td><%= msg.title %></td>
            <td><%= msg.author.try(:name) %></td>
            <td>[<%= dict_value msg.send_type, "send_types" %>] 
                <%= truncate(msg.send_tos, length: 20) + " （共#{msg.send_tos.split.size}个）" %></td>
            <td><%= msg.status_badge %></td>
            <td><%= show_date(msg.created_at) %></td>
            <td><%= btn_group(msgs_btn(msg)) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @msgs %> 
    </div>                     
</div>
