<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title><%= Dictionary.web_site_name %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="中储粮服务网 中储粮 集中采购 电子采购 网上商城 粮油机械">
    <meta name="description" content="中储粮总公司唯一指定的物资集中采购信息管理平台。">
    <meta name="author" content="zcl">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->

    <!-- CSS Global Compulsory -->
    <%= stylesheet_link_tag "james", "shop" %>
    <%= javascript_include_tag "james" %>
</head> 

<body>

<div class="wrapper">
    <!--=== Header ===-->    
    <%= render :partial => '/shared/layout/james_header' %>
    <!--=== End Header ===-->     

    <!--=== Content Part ===-->
    <div class="container content">
        <%= yield %>
    </div><!--/container-->     
    <!--=== End Content Part ===-->

    <!--=== Copyright ===-->
    <%= render :partial => '/shared/layout/james_footer' %>
    <!--=== End Copyright ===-->
</div><!--/End Wrapepr-->

<!--[if lt IE 9]>
    <%= javascript_include_tag "ie_9" %>
<![endif]-->
<%= render partial: '/shared/dialog/art_dialog' %>
</body>
</html>